.hearder-link {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-link {
    text-decoration: none;
    color: inherit;
}

.adress-footer {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/*Webstudio */
.web {
    color: #2196F3;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}


